.profile__button-add {
  width: 150px;
  min-height: 50px;
  margin-left: auto;
  background-color: black;
  background-image: url("../../../images/cross.png");
  background-position: center;
  background-repeat: no-repeat;
  border: solid 2px white;
  border-radius: 2px;
  cursor: pointer;
}
